saida/
w3u/
*.bak
*.bak2
*.bak3
__pycache__/
*.pyc
dashboard.html
stormtool
stormtool
MAPA_CDZ/
w3u_cdz/
w3a_cdz/
MAPA_CDZ/
w3u_cdz/
w3a_cdz/
Novo(a) Documento de Texto.txt
*.bak*
j_extraido/
w3u_xhero_orig/
w3u_cdz/
MAPA_CDZ/
